include mixins/_rating

doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/semantic/out/semantic.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.css')
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='description' content='Nunuatips is Africas First Betting Marketplace. Analysts can post and sell betting tips and users can buy the predictions at Nunuatips at a very affordable price. Nunuatips aims to be the best and most reliable betting place in Africa.')
    meta(property='title', content='Nunuatips')
    meta(property='type', content='website')
    meta(property='url', content='https://nunuatips.club')
    meta(property='site_name', content='Nunuatips')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/semantic/out/semantic.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js')

  body
    block header
      .ui.sidebar.vertical.menu.left.mobile.tablet.only#sidebar-menu
        if user
          if user.avatar
            .item.user__avatar
              img.ui.avatar.image(src=`/uploads/${user.avatar}`, alt=user.username)
              span.username=user.username
              +rating(user)
              div.view__profile__btn
                a.ui.purple.basic.button(href=`/user/profile/${user.username}`) VIEW PROFILE
          else
            .item.user__avatar
              img.ui.avatar.image(src=user.gravatar + '&d=wavatar')
              span.username=user.username
              +rating(user)
              div.view__profile__btn
                a.ui.purple.basic.button(href=`/user/profile/${user.username}`) VIEW PROFILE
        .ui.vertical.menu.fluid#menu_options
          a.item(href='/') Home
            //- i.home.left.icon
          a.item(href='/user/account') Account
            //- i.user.left.icon
          a.item(href='/user/games') My games
            //- i.user.left.icon
          a.item(href='/user/orders') Purchases
            //- i.user.left.icon
          a.item(href='/user/settings') Settings
            //- i.settings.left.icon
          a.item(href='/help') Help
            //- i.help.circle.left.icon
          if user
            a.item(href='/logout') Logout
          else
            div.menu_login
              a.ui.button.fluid.basic.purple(href='/login') Log In
            div.menu_login
              a.ui.button.fluid.basic.purple(href='/auth') Sign Up
            //- i.sign.out.left.icon

      .ui.menu.top.fixed.borderless#fixed-menu
        a.item.mobile.tablet.only#toggle
          i.sidebar.icon
        a.item.centered#logo(href='/') Nunuatips
        .ui.tabular.labeled.icon.menu.computer.large.monitor.only.borderless#second_menu
          a.item.home(href='/')
            i.home.icon
            | Home
          a.item.account(href='/user/account')
            i.user.icon
            | Account
          a.item.games(href='/user/games')
            i.gamepad.icon
            | My Games
          a.item.orders(href='/user/orders')
            i.soccer.icon
            | Purchases
          a.item.help(href='/help')
            i.help.icon
            | Help and Feedback
        .right.menu
          a.ui.item.cart-icon(href='/shopping-cart')
            i.shop.outline.icon
            if session.cart
              .ui.grey.circular.large.label.cart-length #{session.cart.content.length}
            else
              .ui.grey.circular.large.label.cart-length 0
          .ui.item.dropdown.simple.profile_user_icon.computer.large.monitor.only
            if user
              if user.avatar
                .item.user_avatar
                  img.ui.avatar.image(src=`/uploads/${user.avatar}`, alt=user.username)
                  p.username=user.username
              else
                .item.user_avatar
                  img.ui.avatar.image(src=user.gravatar + '&d=wavatar')
                  p.username=user.username
            else
              i.user.icon
            .menu
              if user
                .item
                  a(href=`/user/profile/${user.username}`) Profile
                .item
                  a(href='/logout') Logout
              else
                
                .item
                  a(href='/auth') Register
                .item
                  a(href='/login') Login
      .pusher
        block messages
          if locals.flashes
            .inner
              .flash-messages
                - const categories = Object.keys(locals.flashes)
                  each category in categories
                    each message in flashes[category]
                      .flash(class=`flash--${category}`)
                        p.flash__text!= message
                        button.flash__remove(onClick="this.parentElement.remove()") &times;

        block content

    block scripts
      script(src="/javascripts/validation.js")
      script(src="/dist/App.bundle.js")
