extends layout

block content
	.ui.container
		if predictions && predictions.length >= 1
			h3.ui.center.aligned
				span Cart
			.ui.grid.centered
				.ui.row
					span.total-price= `Total: KES ${totalPrice}`
			.ui.grid.centered
				.ui.row
					a.button.ui.button.large.basic.purple.checkout_btn(href='/checkout') CHECKOUT
			.ui.middle.aligned.divided.list
				each prediction in predictions
					form.form.ui.cart-item(method="POST" action=`/api/remove-from-cart/${prediction.item._id}`)
						.ui.cards
							.ui.card.fluid
								.content
									.right.floated.meta
										button.ui.button.icon.right.floated(type='submit')
											i.icon.remove
									if prediction.item.author.avatar
										img.ui.avatar.image(src=`/uploads/${prediction.item.author.avatar}`)
										span #{prediction.item.author.username}
									else
										img.ui.avatar.image(src=prediction.item.author.gravatar+ '&d=wavatar')
										span #{prediction.item.author.username}
								table.ui.three.column.table.celled.unstackable
									thead
										tr
											th Date
											th Time
											th Home
											th Away
									tbody
									for team in prediction.item.team
										tr
											td #{team.date.slice(0,10).replace(/-/g,"/")}
											td #{new Date(team.date).toLocaleTimeString([], {timeZone: 'Africa/Nairobi',hour: '2-digit', minute:'2-digit'})}
											td #{team.home}
											td #{team.away}
								.content.cart_item_info
									div= `${prediction.item.team.length} Predictions`
									div.cart_item_price= `KES ${prediction.item.price}`

		else
			.ui.piled.segment
				h1.ui.header NO ITEMS IN CART
