include _rating

mixin orderCard(order = {})
  .column
    .ui.fluid.card
      .content
        .right.floated.meta
          - const ratedString = user.rated.map(obj => obj.toString())
          - const isRated = ratedString.includes(order.item._id.toString())
          .rate_div
            if !isRated
              a.ui.button.basic.purple.rate_btn(href=`/predictions/${order.item.slug}`) LEAVE A REVIEW
            else
              p REVIEWED
        if order.item.author.avatar
          img.ui.avatar.image(src=`/uploads/${order.item.author.avatar}`)
          a(href=`/user/profile/${order.item.author.username}`) #{order.item.author.username}
        else
          img.ui.avatar.image(src=order.item.author.gravatar + '&d=wavatar')
          a(href=`/user/profile/${order.item.author.username}`) #{order.item.author.username}
      .content
        table.ui.celled.table.unstackable(name='preditable')
          thead
            tr
              th Date
              th Time
              th Home
              th Away
              th Prediction
          tbody
          for team in order.item.team
            tr
              td #{team.date.slice(0,10).replace(/-/g,"/")}
              td #{new Date(team.date).toLocaleTimeString([], {timeZone: 'Africa/Nairobi', hour: '2-digit', minute:'2-digit'})}
              td #{team.home}
              td #{team.away}
              td #{team.prediction}
