mixin orderCard(order = {})
  .column
    .ui.fluid.card
      .content
        .right.floated.meta
          a(href=`/predictions/${order.item.slug}`) #{order.item.team.length}
        if order.item.author.avatar
          img.ui.avatar.image(src=`/uploads/${order.item.author.avatar}`)
          span #{order.item.author.username} 
        else
          img.ui.avatar.image(src=order.item.author.gravatar + '&d=wavatar')
          span #{order.item.author.username}
      .content
        form.ui.form.card-form(method="POST" action=`/api/add-to-cart/${order._id}`)
          table.ui.celled.table.unstackable(name='preditable')
            thead
              tr
                th Date
                th Team 1
                th Team 2
                th Time
                th Prediction
            tbody
            for team in order.item.team
              tr
                td #{team.date.slice(0,10)}
                td #{team.team1}
                td #{team.team2}
                td #{team.time}
                td #{team.prediction}
    
   
          
